<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<linkManager defaultProvider="sitecore">
			<providers>
				<!--
				SELECTIVE LANGUAGE EMBED LINK PROVIDER
				
				This link provider (when the LangaugeEmbedding is set to Always) will supply the language in the URL except
				when the language of the Item matches the default language of the site.
				
				To use the Selective Language Embed Link Provider, add the following attribute patch to your site definitions
				Example follows:

				<site name="example-site">
					<patch:attribute name="linkProvider">selectiveProvider</patch:attribute>
				</site>
				-->
	
				<add name="selectiveProvider" type="Verndale.Feature.LanguageFallback.Links.SelectiveLanguageEmbedLinkProvider"
				     addAspxExtension="false"
				     alwaysIncludeServerUrl="false"
				     encodeNames="true"
				     languageEmbedding="always"
				     languageLocation="filePath"
				     lowercaseUrls="true"
				     shortenUrls="true"
				     useDisplayName="false"/>
			</providers>
		</linkManager>
		
		<sites>
			<!--
			SUPPORTED LANGUAGES ATTRIBUTE
			
			Comma or pipe-delimited list of languages available for a given Site. This includes the site's default language, which still needs
			to be specified using the "language" attribute.
			
			The attribute is used in two places:
			
			1. It is used to determine whether a language-embedded URL is valid for a given site.
			2. It is used in the Content Editor by rules and commands to automatically create language versions in the appropriate languge for 
			a given item.

			Example follows:
			<site name="example-site">
				<patch:attribute name="language">en</patch:attribute>
				<patch:attribute name="supportedLanguages">en,fr,de,jp</patch:attribute>
			</site>
			
			
			LANGUAGE FALLBACK SITE ATTRIBUTES
			These are stock Sitecore, but need to be turned on to enable Language Fallback.
			
			enableItemLanguageFallback: true|false used with Item Language Fallback checkbox on items in Sitecore
			
			enableFieldLanguageFallback: true|false used with Field Language Fallback checkbox on template field items in Sitecore
			
			enforceVersionPresence: true|false for use with Enforce Version Presence checkbox on items in Sitecore
	 
			Example follows:
			
			<site name="example-site">
				<patch:attribute name="enableItemLanguageFallback">true</patch:attribute>
				<patch:attribute name="enableFieldLanguageFallback">true</patch:attribute>
				<patch:attribute name="enforceVersionPresence">true</patch:attribute>
			</site>
			-->

			<site name="shell">
				<!--
				If using Language Fallback, it is advisable to make sure it is not enabled on the shell website.
				-->
				<patch:attribute name="enableItemLanguageFallback">false</patch:attribute>
				<patch:attribute name="enableFieldLanguageFallback">false</patch:attribute>
			</site>
		</sites>


		<pipelines>
			<httpRequestBegin>
				<!-- 
				DEFAULT SITE LANGUAGE RESOLVER 
				
				Custom pipeline processor for boundary language conditions.
				
				1. If the URL contains a language that is not explicitly supported by the site (SiteInfo.GetSupportedLanguages()), 
				sets the context language to the current site's default language and redirects to a 404 page.
				
				2. If the URL does not contain a language, changes the language to the current site's default language. (SiteInfo.Language)
				
				This processor must immediately follow Sitecore's Language Resolver. The patch:after below is a "safe bet". Your configuration may need to differ.
							
				Note that this processor should only run for custom websites and should explicitly not run for Sitecore system sites.
				The current config specifies which sites are ignored. Your configuration may differ.
				-->
				<processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.LanguageResolver, Sitecore.Kernel']"
				           type="Verndale.Feature.LanguageFallback.Pipelines.HttpRequest.DefaultSiteLanguageResolver, Verndale.Feature.LanguageFallback">
					<databasesToIgnore>core</databasesToIgnore>
					<sitesToIgnore>shell,login,admin,service,modules_shell,modules_website,scheduler,system,publisher</sitesToIgnore>
				</processor>


				<!-- 
				CULTURE RESOLVER
				
				Custom pipeline processor that will set the .net culture based on the current sitecore context language 
				
				This processor must follow all Language Resolvers. the patch:after below is a "safe bet". Your configuration may need to differ.
				
				Note that this processor should only run for custom websites and should explicitly not run for Sitecore system sites.
				The current config specifies which sites are ignored. Your configuration may differ.
				-->
				<processor patch:after="*[@type='Verndale.Feature.LanguageFallback.Pipelines.HttpRequest.DefaultSiteLanguageResolver, Verndale.Feature.LanguageFallback']"
				           type="Verndale.Feature.LanguageFallback.Pipelines.HttpRequest.CultureResolver, Verndale.Feature.LanguageFallback">
					<databasesToIgnore>core</databasesToIgnore>
					<sitesToIgnore>shell,login,admin,service,modules_shell,modules_website,scheduler,system,publisher</sitesToIgnore>
				</processor>
			</httpRequestBegin>

			<initialize>
				<!--
				Kicks off the Package Verifier, which has a separate configuration area to keep the Initialize pipeline clear.
				-->
				<processor type="Constellation.Foundation.PackageVerification.Pipelines.Initialize.PackageVerifier, Constellation.Foundation.PackageVerification" />
			</initialize>
		</pipelines>

		<commands>
			<!-- 
			CONTENT EDITOR BUTTON COMMANDS
			
			These are the commands added to the system for Language Fallback. The commands perform bulk operations on content.
			Access is currently limited to Sitecore Client Developing role.
			-->
			<command name="languagefallback:addversiontoalllanguages"
			         type="Verndale.Feature.LanguageFallback.Commands.CreateVersionInAllLanguages, Verndale.Feature.LanguageFallback"/>

			<command name="languagefallback:CheckEnableItemLanguageFallback"
			         type="Verndale.Feature.LanguageFallback.Commands.EnableItemLanguageFallbackCommand, Verndale.Feature.LanguageFallback"/>

			<command name="languagefallback:UncheckEnableItemLanguageFallback"
			         type="Verndale.Feature.LanguageFallback.Commands.DisableItemLanguageFallbackCommand, Verndale.Feature.LanguageFallback"/>

			<command name="languagefallback:CheckEnableFieldLevelFallback"
			         type="Verndale.Feature.LanguageFallback.Commands.EnableFieldLevelFallbackCommand, Verndale.Feature.LanguageFallback"/>

			<command name="languagefallback:UncheckEnableFieldLevelFallback"
			         type="Verndale.Feature.LanguageFallback.Commands.DisableFieldLevelFallbackCommand, Verndale.Feature.LanguageFallback"/>

			<command name="languagefallback:CheckEnforceVersionPresence"
			         type="Verndale.Feature.LanguageFallback.Commands.EnableEnforceVersionPresenceCommand, Verndale.Feature.LanguageFallback"/>

			<command name="languagefallback:UncheckEnforceVersionPresence"
			         type="Verndale.Feature.LanguageFallback.Commands.DisableEnforceVersionPresenceCommand, Verndale.Feature.LanguageFallback"/>
		</commands>


		<events timingLevel="custom">
			<event name="item:created">
				<handler type=" Verndale.Feature.LanguageFallback.EventHandlers.CreateVersionInAllLanguagesOnCreate, Verndale.Feature.LanguageFallback" method="OnItemCreated"/>
			</event>
		</events>


		<settings>
			<!--  CACHING - LANGUAGE FALLBACK FIELD VALUES - DEFAULT CACHE SIZE
			
			Determines the default size of the cache that stores the language fallback field values.
			Specify the value in bytes or append the value with KB, MB or GB.

			Default value: 20MB.
			-->
			<setting name="Caching.LanguageFallbackFieldValues.DefaultCacheSize">
				<patch:attribute name="value">100MB</patch:attribute>
			</setting>

			<!--
			MEDIA - UPLOAD AS VERSIONABLE BY DEFAULT
			
			By default, Media items are not versionable and the below setting is set to false.  
			If you upload an image in one language, it will persist across all language versions.
			If you change this to true, then versioning will apply and you would have to set the media item into all language versions, 
			or enable fallback, but if enforce version presence is turned on and media template guids are included in EnforceVersionPresenceTemplates, 
			then you'll have to make sure all language versions at least exist
			-->
			<setting name="Media.UploadAsVersionableByDefault">
				<patch:attribute name="value">true</patch:attribute>
			</setting>

			<!--
			RENDERING - SITE RESOLVING MATCH CURRENT LANGUAGE
			
			Affects how cross-site links are rendered when Rendering.SiteResolving is enabled.
			If true, the link provider will take the language attribute of the site definitions into consideration when resolving
			which site/hostname to use when rendering a cross-site link.
			However if you have more than one language valid for the same site, 
			it seems for some of those languages (that are not the default for that site) 
			to not be able to correctly identify the correct targetHostName
			-->
			<setting name="Rendering.SiteResolvingMatchCurrentLanguage">
				<patch:attribute name="value">false</patch:attribute>
			</setting>
		</settings>


		<constellation>
			<!--
			Package Verifier Configuration
			
			defaultProcessorType: Must descend from the default value - Constellation.Foundation.PackageVerification.PackageProcessor, Constellation.Foundation.PackageVerification
			
			package nodes: 
					name: Just to make them easy to spot. Should be unique. Also allows you to sc:patch them!
					packageFileName: the name of the .zip file. IMPORTANT: should already exist in data-folder/packages.
					processorOverrideType: If you don't want to use the default processor.
					
					Artifacts: Items that will exist if the package referenced was previously installed. Should be something a user wouldn't modify.
					You can supply more than one if you have to check multiple databases or disparate parts of the content tree.
					
					
					id: the ID of the Item that should exist
					database: the database where the Item lives, typically master or core.
			
			-->
			<packageVerifier defaultProcessorType="Constellation.Foundation.PackageVerification.PackageProcessor, Constellation.Foundation.PackageVerification">
				<package name="Verndale.Feature.LanguageFallback" packageFileName="Verndale-Feature-LanguageFallback-9.0.1.zip">
					<artifact id="{AE9999EE-92F0-4E91-9123-1093CCFBBEBD}" database="core"/>
					<artifact id="{80B44127-950B-4023-9EDE-D74CE2760242}" database="core"/>
					<artifact id="{DCF35CDA-E30C-4BE7-AE43-E56BE8AF07E5}" databse="master" />
					<artifact id="{3D2EC9DC-52EA-4355-97D1-34BBAD390E89}" database="master"/>
				</package>
			</packageVerifier>
		</constellation>
	</sitecore>
</configuration>

